.root {
  margin-bottom: var(--space-3);
  color: var(--color-text-secondary);
  font-size: var(--font-size-xs);
}
.root ol {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  margin: 0;
  padding: 0;
  list-style: none;
}
.root li:not(:last-child)::after {
  margin-left: var(--space-2);
  content: '/';
}
.root a {
  color: inherit;
}
